<button
  nz-button
  nzType="primary"
  (click)="handleSubmit()"
  [nzLoading]="submitting"
  class="mb-4"
  >
  {{ $t('_save') }}
</button>

<div class="mb-4 color-red font-bold">
  {{ $t('_buildTip') }}
</div>

<div class="flex gap-4 w-full flex-wrap select-none">
  @for (item of components; track trackByItem(idx, item); let idx = $index) {
    <div>
      @switch (item.type) {
        @case (ComponentType.Calendar) {
          <app-calendar [data]="$any(item)" />
        }
        @case (ComponentType.Runtime) {
          <app-runtime [data]="$any(item)" />
        }
        @case (ComponentType.OffWork) {
          <app-offwork [data]="$any(item)" />
        }
        @case (ComponentType.Image) {
          <app-image [data]="$any(item)" />
        }
        @case (ComponentType.Countdown) {
          <app-countdown [data]="$any(item)" />
        }
        @case (ComponentType.HTML) {
          <app-html [data]="$any(item)" />
        }
        @case (ComponentType.Holiday) {
          <app-holiday [data]="$any(item)" />
        }
      }
      <div class="text-center mt-3">
        <div>{{ componentTitleMap[item.type] }}</div>
        <a (click)="moveUp(idx)">{{ $t('_moveUp') }}</a>
        <a (click)="moveDown(idx)" class="mx-2.5">{{ $t('_moveDown') }}</a>
        <a (click)="handleEdit(item, idx)">{{ $t('_edit') }}</a>
        <div>
          <a (click)="onAdd(item)">{{ $t('_copy') }}</a>
          @if (item.id >= 0) {
            <a
              class="color-red ml-2"
              nz-popconfirm
              nzOkType="danger"
              [nzPopconfirmTitle]="$t('_confirmDel')"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="onDelete(idx)"
              >{{ $t('_del') }}</a
              >
            }
          </div>
        </div>
      </div>
    }
  </div>

  <calendar-drawer #calendar (ok)="handleOk($event)" />
  <runtime-drawer #runtime (ok)="handleOk($event)" />
  <offwork-drawer #offwork (ok)="handleOk($event)" />
  <image-drawer #image (ok)="handleOk($event)" />
  <countdown-drawer #countdown (ok)="handleOk($event)" />
  <html-drawer #html (ok)="handleOk($event)" />
  <holiday-drawer #holiday (ok)="handleOk($event)" />
