<div class="sim">
  @if (commonService.sliceMax === 0) {
    <nz-spin
      nzSimple
      class="position-center mt-2.5"
      />
  }

  @if (commonService.settings.simThemeImages.length > 0) {
    <div
      class="wallpaper"
      [class.bootstrap]="commonService.settings.simThemeHeight < 260"
      >
      <app-swiper
        [images]="commonService.settings.simThemeImages"
        [autoplay]="commonService.settings.simThemeAutoplay"
        [height]="commonService.settings.simThemeHeight"
        />
      <div class="bar">
        <h1 class="title dark-white">
          {{ commonService.settings.simTitle || commonService.settings.title }}
        </h1>
        <pre
          class="description dark-white"
          [innerHTML]="description | safeHtml"
        ></pre>
      </div>
    </div>
  }

  <div class="sim-component">
    <component-group></component-group>
  </div>

  <app-search-engine class="hidden search-sm" />

  <nav class="top-nav dark-border-color dark-scrollbar dark-bg">
    @for (
      item of commonService.websiteList.slice(0, commonService.overIndex); track commonService.trackByItem(i,
      item); let i = $index) {
      <span
        [class.active]="commonService.page === i"
        [class.dark-text-active]="commonService.page === i"
        class="over-item dark-text"
        (click)="commonService.handleCilckTopNav(i)"
        >
        {{ item.title }}
      </span>
    }
    <!-- More -->
    @if (commonService.overIndex < commonService.websiteList.length) {
      <app-web-more-menu
        [data]="commonService.websiteList.slice(commonService.overIndex, 99999)"
        [index]="commonService.overIndex"
        [page]="commonService.page"
        (onClick)="commonService.handleCilckTopNav($event)"
        />
    }
  </nav>

  <div class="wrapper">
    @if (commonService.websiteList[commonService.page]?.nav?.length) {
      <nav
        class="sidebar dark-bg"
        id="sidebar"
        >
        @for (
          item of commonService.websiteList[commonService.page].nav; track commonService.trackByItem(i,
          item); let i = $index) {
          <div
            (click)="commonService.handleSidebarNav(i)"
            [class.active]="commonService.id === i"
            [class.dark-item-active]="commonService.id === i"
            class="ripple-btn dark-text dark-hover"
            >
            {{ item.title }}
          </div>
        }
      </nav>
    }

    <aside class="site-box dark-bg">
      <app-search-engine class="max768none" />

      @if (commonService.currentList.length > 0) {
        <div>
          @for (
            item of commonService.currentList.slice(
            0,
            commonService.sliceMax
            ); track commonService.trackByItem(i,
            item); let i = $index) {
            <div
              >
              <div class="nav-wrapper">
                <app-toolbar-title
                  [dataSource]="item"
                  (onCollapse)="commonService.onCollapse(item, i)"
                  [index]="i"
                ></app-toolbar-title>
                <div
                  nz-row
                  [nzGutter]="[16, 16]"
                  [style.display]="item.collapsed ? 'none' : ''"
                  >
                  @for (
                    el of item.nav; track commonService.trackByItemWeb(j,
                    el); let j = $index) {
                    <div
                      class="gutter-row"
                      nz-col
                      [nzSpan]="8"
                      [nzSm]="12"
                      [nzMd]="12"
                      [nzLg]="8"
                      [nzXs]="24"
                      >
                      <app-card
                        [cardStyle]="commonService.settings.simCardStyle"
                        [showRate]="commonService.settings.showRate"
                        [dataSource]="el"
                        [indexs]="[commonService.page, commonService.id, i, j]"
                        [searchKeyword]="commonService.searchKeyword"
                        class="column-border"
                      ></app-card>
                    </div>
                  }
                </div>
              </div>
            </div>
          }
        </div>
      } @else {
        <app-no-data></app-no-data>
      }

    </aside>
  </div>
</div>

<app-footer
  className="sim-footer"
  [content]="commonService.settings.simFooterHTML || commonService.settings.footerContent"
  />
<app-fixbar
  (onCollapse)="commonService.onCollapseAll()"
  [collapsed]="commonService.collapsed"
  />

<div class="sim-bg dark-bg"></div>
