<nz-layout class="layout">
  @if (commonService.sliceMax === 0) {
    <nz-spin
      nzSimple
      class="position-center"
      />
  }
  <nz-layout>
    <nz-sider
      class="sider-compnent"
      nzCollapsible
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null"
      >
      <div class="logo dark-bg" (click)="handleCollapsed()">
        <img [src]="commonService.settings.favicon" class="logo-img" />
        @if (!isCollapsed) {
          <span class="web-title">{{
            commonService.settings.sideTitle || commonService.title
          }}</span>
        }
      </div>

      <ul nz-menu nzMode="inline" class="sider dark-scrollbar dark-bg">
        @for (
          item of commonService.websiteList; track commonService.trackByItem(pageIdx,
          item); let pageIdx = $index) {
          <li
            nz-submenu
            (nzOpenChange)="openMenu(item, pageIdx)"
            [nzTitle]="titleTpl"
            [nzOpen]="item['collapsed']"
            >
            <ng-template #titleTpl>
              @if (item.icon) {
                <img class="sideicon" [src]="item.icon" />
              }
              <span class="menu-title ellipsis">{{
                isCollapsed && item.icon
                ? ''
                : isCollapsed && !item.icon
                ? item.title.slice(0, 4)
                : item.title
              }}</span>
            </ng-template>
            <ul>
              @for (
                el of item.nav; track commonService.trackByItem(idIdx,
                el); let idIdx = $index) {
                <li
                  nz-menu-item
              [nzSelected]="
                commonService.page === pageIdx && commonService.id === idIdx
              "
                  (click)="commonService.handleSidebarNav(idIdx, pageIdx)"
                  >
                  @if (el.icon) {
                    <img class="sideicon fixicon" [src]="el.icon" />
                  }
                  <span class="ellipsis">{{ el.title }}</span>
                  @if (
                    commonService.page === pageIdx && commonService.id === idIdx
                    ) {
                    <div
                      (click)="commonService.onCollapseAll($event)"
                      class="collapse-wrapper"
                      >
                      <i
                        class="iconfont iconweibiaoti25 collapseIcon"
                        [class.active]="commonService.collapsed"
                        >
                      </i>
                    </div>
                  }
                </li>
              }
            </ul>
          </li>
        }
      </ul>
    </nz-sider>

    <nz-layout class="inner-layout">
      @if (commonService.settings.sideThemeImages.length > 0) {
        <div
          class="search-header"
          >
          <app-swiper
            [images]="commonService.settings.sideThemeImages"
            [autoplay]="commonService.settings.sideThemeAutoplay"
            [height]="commonService.settings.sideThemeHeight"
            />
        </div>
      }

      <component-group></component-group>

      <app-search-engine class="mobile-search" />

      <nz-content class="content" id="content">
        <app-web-list [search]="false" [overflow]="true" />

        <div class="box">
          @if (commonService.currentList.length > 0) {
            <div>
              @for (
                item of commonService.currentList.slice(
                0,
                commonService.sliceMax
                ); track commonService.trackByItem(i,
                item); let i = $index) {
                <div
                  >
                  <div class="nav-wrapper">
                    <app-toolbar-title
                      [dataSource]="item"
                      (onCollapse)="commonService.onCollapse(item, i)"
                      [index]="i"
                      />
                    <div
                      nz-row
                      [nzGutter]="[16, 16]"
                      [style.display]="item.collapsed ? 'none' : ''"
                      >
                      @for (
                        el of item.nav; track commonService.trackByItemWeb(j,
                        el); let j = $index) {
                        <div
                          class="gutter-row"
                          nz-col
                          [nzSpan]="6"
                          [nzXs]="24"
                          [nzSm]="12"
                          [nzMd]="12"
                          [nzLg]="8"
                          [nzXl]="6"
                          [nzXXl]="nzXXl"
                          >
                          <app-card
                            [cardStyle]="commonService.settings.sideCardStyle"
                            [showRate]="commonService.settings.showRate"
                            [dataSource]="el"
                            [indexs]="[commonService.page, commonService.id, i, j]"
                            [searchKeyword]="commonService.searchKeyword"
                            class="column-border"
                            />
                        </div>
                      }
                    </div>
                  </div>
                </div>
              }
            </div>
          } @else {
            <app-no-data />
          }

        </div>
      </nz-content>

      <app-footer
        className="side-footer"
        [content]="commonService.settings.sideFooterHTML || commonService.settings.footerContent"
        />
    </nz-layout>
  </nz-layout>
</nz-layout>

<app-fixbar
  (onCollapse)="commonService.onCollapseAll($event)"
  [collapsed]="commonService.collapsed"
  />
