@if (images.length > 0) {
  <div
    class="swiper"
    [ngStyle]="{ height: height <= 0 ? '' : height + 'px' }"
    >
    <nz-carousel
      [nzAutoPlay]="autoplay"
      [nzAutoPlaySpeed]="5000"
      [nzDots]="images.length > 1"
      >
      @for (item of images; track item; let i = $index) {
        <div
          nz-carousel-content
          [class.cursor-pointer]="item['url']"
          (click)="jumpService.goUrl($event, item['url'])"
          >
          <img
            class="bgimg"
            [src]="item.src"
            draggable="false"
            [ngStyle]="{ height: height <= 0 ? '' : height + 'px' }"
            />
        </div>
      }
    </nz-carousel>
    <ng-content></ng-content>
  </div>
}
