@if (components.length > 0) {
  <div
    class="component-group dark-scrollbar justify-center md:justify-start"
    [class.directionCol]="direction === 'column'"
    >
    @for (item of components; track trackByItem($index, item)) {
      @switch (item.type) {
        @case (ComponentType.Calendar) {
          <app-calendar [data]="$any(item)" />
        }
        @case (ComponentType.Runtime) {
          <app-runtime [data]="$any(item)" />
        }
        @case (ComponentType.OffWork) {
          <app-offwork [data]="$any(item)" />
        }
        @case (ComponentType.Image) {
          <app-image [data]="$any(item)" />
        }
        @case (ComponentType.Countdown) {
          <app-countdown [data]="$any(item)" />
        }
        @case (ComponentType.HTML) {
          <app-html
            [data]="$any(item)"
            [class.hidden]="!$any(item)['html']"
            />
        }
        @case (ComponentType.Holiday) {
          <app-holiday [data]="$any(item)" />
        }
      }
    }
    <ng-content />
  </div>
}
