<nz-modal
  [nzWidth]="560"
  [(nzVisible)]="showModal"
  [nzTitle]="$t('_moveTo')"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="hanldeOk()"
  >
  <ng-container *nzModalContent>
    <nz-select
      [ngModel]="oneSelect"
      nzShowSearch
      [nzPlaceHolder]="$t('_sel1')"
      (ngModelChange)="hanldeOneSelect($event)"
      style="width: 160px"
      >
      @for (item of websiteList; track item; let idx = $index) {
        <nz-option
          [nzLabel]="item.title"
          [nzValue]="idx"
          >
        </nz-option>
      }
    </nz-select>

    @if (level > 2) {
      <nz-select
        [ngModel]="twoSelect"
        nzShowSearch
        [nzPlaceHolder]="$t('_sel2')"
        (ngModelChange)="hanldeTwoSelect($event)"
        style="width: 160px; margin-left: 15px"
        >
        @for (item of twoOptList; track item; let idx = $index) {
          <nz-option
            [nzLabel]="item.title || ''"
            [nzValue]="idx"
            >
          </nz-option>
        }
      </nz-select>
    }

    @if (level === 4) {
      <nz-select
        [ngModel]="threeSelect"
        nzShowSearch
        [nzPlaceHolder]="$t('_sel3')"
        (ngModelChange)="hanldeThreeSelect($event)"
        style="width: 160px; margin-left: 15px"
        >
        @for (item of threeOptList; track item; let idx = $index) {
          <nz-option
            [nzLabel]="item.title || ''"
            [nzValue]="idx"
            >
          </nz-option>
        }
      </nz-select>
    }

    <div class="act">
      <label nz-checkbox [(ngModel)]="isCopy">{{ $t('_copy') }}</label>
    </div>
  </ng-container>
</nz-modal>
