<div
  class="index-wrapper dark-bg"
  [class.noimg]="commonService.settings.lightImages.length <= 0"
  >
  <div class="light-box">
    @if (commonService.settings.components.length) {
      <div
        class="component-box hidden-scrollbar hidden 2xl:block"
        >
        <component-group direction="column"></component-group>
      </div>
    }

    <main class="homepage dark-border-color dark-bg">
      @if (commonService.websiteList.length) {
        <nav
          class="top-nav dark-scrollbar dark-border-color dark-bg"
          >
          @for (
            item of commonService.websiteList.slice(
            0,
            commonService.overIndex
            ); track commonService.trackByItem(i,
            item); let i = $index) {
            <span
              (click)="commonService.handleCilckTopNav(i)"
              [class.active]="commonService.page === i"
              [class.dark-text-active]="commonService.page === i"
              class="over-item ripple-btn dark-text"
              >
              {{ item.title }}
            </span>
          }
          <!-- More -->
          @if (commonService.overIndex < commonService.websiteList.length) {
            <app-web-more-menu
          [data]="
            commonService.websiteList.slice(commonService.overIndex, 99999)
          "
              [index]="commonService.overIndex"
              [page]="commonService.page"
              (onClick)="commonService.handleCilckTopNav($event)"
              />
          }
        </nav>
      }

      <section class="index-section select-none dark-bg">
        <div
          class="sidebar dark-bg dark-border-color dark-scrollbar"
          id="sidebar"
          >
          @if (commonService.websiteList[commonService.page]) {
            <div>
              @for (
                item of commonService.websiteList[commonService.page].nav; track commonService.trackByItem(i,
                item); let i = $index) {
                <div
                  class="tag dark-text"
                  [class.active]="commonService.id === i"
                  [class.dark-item-active]="commonService.id === i"
                  (click)="commonService.handleSidebarNav(i)"
                  >
                  {{ item.title }}
                </div>
              }
            </div>
          }
        </div>

        <div class="main dark-scrollbar">
          <app-search-engine />

          @if (commonService.currentList.length > 0) {
            <div>
              @if (commonService.sliceMax === 0) {
                <nz-spin
                  nzSimple
                  class="position-center"
                ></nz-spin>
              }
              @for (
                item of commonService.currentList.slice(
                0,
                commonService.sliceMax
                ); track commonService.trackByItem(i,
                item); let i = $index) {
                <div
                  >
                  <app-toolbar-title
                    [dataSource]="item"
                    (onCollapse)="commonService.onCollapse(item, i)"
                    [index]="i"
                    />
                  <div
                    style="padding: 0 10px"
                    nz-row
                    [nzGutter]="[16, 16]"
                    [style.display]="item.collapsed ? 'none' : ''"
                    >
                    @for (
                      el of item.nav; track commonService.trackByItemWeb(j,
                      el); let j = $index) {
                      <div
                        class="gutter-row"
                        nz-col
                        [nzSpan]="8"
                        [nzSm]="12"
                        [nzMd]="8"
                        [nzXs]="24"
                        >
                        <app-card
                          [cardStyle]="commonService.settings.lightCardStyle"
                          [showRate]="commonService.settings.showRate"
                          [dataSource]="el"
                          [indexs]="[commonService.page, commonService.id, i, j]"
                          [searchKeyword]="commonService.searchKeyword"
                          class="column-border"
                          />
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          } @else {
            <app-no-data />
          }

        </div>
      </section>
    </main>

    @if (commonService.settings.lightImages.length > 0) {
      <div
        class="right dark-scrollbar hidden-scrollbar"
        >
        @for (item of commonService.settings.lightImages; track item; let i = $index) {
          <div
            class="aditem cursor-pointer"
            (click)="jumpService.goUrl($event, item['url'])"
            >
            <img class="adsimg" [src]="item['src']" />
          </div>
        }
      </div>
    }
  </div>

  <app-footer
    [content]="commonService.settings.lightFooterHTML || commonService.settings.footerContent"
    />
  <app-fixbar
    (onCollapse)="commonService.onCollapseAll()"
    [collapsed]="commonService.collapsed"
    selector=".main"
    />
</div>
