<span
  class="more-btn dark-white iconfont icongengduo"
  nz-dropdown
  [nzDropdownMenu]="menu"
  nzPlacement="bottomRight"
  style="color: #08c"
></span>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    @for (item of data; track item; let i = $index) {
      <li
        nzMenuClassName="navpopover"
        nz-menu-item
        (click)="handleCilck(index + i)"
        [class.moreActive]="page === index + i"
        [class.dark-text-active]="page === index + i"
        class="navpopover over-item dark-text dark-hover"
        >
        {{ item.title }}
      </li>
    }
  </ul>
</nz-dropdown-menu>
